<html>

<head>
    <%- include('layouts/header.ejs'); -%>
</head>

<body style="background-color: rgb(8, 141, 170); ;">
    <%- include('layouts/navbar.ejs'); -%>
        <div class="container rounded bg-white mt-2 mb-5">

            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">
                            <%= user.name %>
                        </span><span class="text-black-50">
                            <%= user.username %>
                        </span><span> </span></div>
                </div>
                <div class="col-md-9 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>


                        <div class="row mt-2 ">
                            <form action="/profile" method="post">
                                <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                        class="form-control" placeholder="Name" value="<%= user.name %>" name="name">
                                </div>
                                <div class="col-md-6 "><label class="labels">Email</label><input type="text"
                                        class="form-control" placeholder="email id" value="<%= user.username %>"
                                        name="email"></div>
                                <div class="col-md-6"><label class="labels">Mobile Number</label><input type="text"
                                        class="form-control" placeholder="phone number" value="" name="phone"></div>
                                <div class="col-md-6"><label class="labels">Gender</label>
                                    <select name="gender" id="" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Notdefined">Notdefined</option>
                                    </select>
                                </div>
                                <div class="col-md-6"><label class="labels">Age</label><input type="number"
                                        class="form-control" placeholder="Age" value="" name="age"></div>
                                <div class="col-md-6"><label class="labels">City</label><input type="text"
                                        class="form-control" placeholder="city" value="" name="city"></div>


                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                        type="submit">Save
                                        Profile</button></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <%- include('layouts/footer.ejs'); -%>
</body>

</html>